<footer class="bg-green-700 text-white">
    <div class="md:ms-10 md:me-10 py-10 lg:py-20 p-4 lg:flex items-start lg:justify-between">
        <div>
            <div class="flex items-center">
                <img src="assets/images/logo.png" alt="" width="60" height="" class="logo-image">
                <div>
                    <span class="ms-2 text-xl md:text-2xl font-bold">The Recipes Spot</span><br>
                    <span class="ms-7">Cook with Joy</span>
                </div>
            </div>
            <div class="mt-7">
                <p class="m-2">
                    <i class="bi bi-telephone"></i><span class="ms-2"><a
                            href="tellto:+92347-7671352">+92347-7671352</a></span>
                </p>
                <p class="m-2">
                    <i class="bi bi-envelope"></i><span class="ms-2"><a
                            href="mailto:imranali23322@gmail.com">imranali23322&#64;gmail.com</a></span>
                </p>

                <p class="m-2">
                    <i class="bi bi-geo-alt-fill"></i><span class="ms-2">Shop No. 7, Flavor Spot Market, Rahimabad, Swat, Pakistan</span>
                </p>
            </div>
        </div>

        <div>
            <h1 class="ms-2 text-xl md:text-1xl font-bold">Resources</h1>
            <ul class=" justify-center list-unstyled m-0 " id="menu">
                <li class="cursor-pointer my-3 mx-3">Guide</li>
                <li routerLink="/about-us" routerLinkActive="active" class="cursor-pointer my-3 mx-3">How is it's works
                </li>
                <li routerLink="add-recipes" routerLinkActive="active" class="cursor-pointer my-3 mx-3">Add Recipe</li>
                <li class="cursor-pointer my-3 mx-3">Contact</li>
            </ul>
        </div>

        <div>
            <h1 class="ms-2 text-xl md:text-1xl font-bold">Support & Feedback</h1>
            <p class="m-2 p-2 rounded-b-sm">
                <i class="bi bi-envelope"></i><span class="ms-2"><a
                        href="mailto:imranali23322@gmail.com">contact&#64;recipesspot.com</a></span>
            </p>
            
            
        </div>
    </div>
    <div class="flex justify-center items-center bg-white p-5">
        <p class="text-black">Copyright &copy; The Recipes Spot | 2025</p>
    </div>
</footer>